#slot[hidden] {
  display: none;
}

#area {
  position: relative;
  display: flex;

  color: var(--code-anatomy--code-fg, #f8f8f2);
	background: var(--code-anatomy--code-bg, #2b2b2b);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
  padding: 1em;

  overflow: auto;
	border-radius: 0.3em;

  -moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
  margin: 0;
  white-space: inherit;
  overflow-wrap: break-word;
  font: inherit;
  flex: 1;
}

code {
  font: inherit;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--code-anatomy--token-comment, #d4d0ab);
}

.token.punctuation {
	color: var(--code-anatomy--token-punctuation, #fefefe);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--code-anatomy--token-property, #ffa07a);
}

.token.boolean,
.token.number {
	color: var(--code-anatomy--token-number, #00e0e0);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--code-anatomy--token-string, #abe338);
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: var(--code-anatomy--token-variable, #00e0e0);
}

.token.atrule,
.token.attr-value,
.token.function {
	color: var(--code-anatomy--token-function, #ffd700);
}

.token.keyword {
	color: var(--code-anatomy--token-keyword, #00e0e0);
}

.token.regex,
.token.important {
	color: var(--code-anatomy--token-important, #ffd700);
}

code {
  counter-reset: anatomy;
}

.annotate {
  text-decoration: underline;
  text-underline-offset: 2px;
  position: relative;
  transition: .218s ease;
  display: inline-block;
}

.annotate .token.punctuation {
  text-decoration: underline;
  text-decoration-color: var(--code-anatomy--code-bg, #2b2b2b);
}

:host([edit]) .token {
  cursor: pointer;
}

:host(:not([edit])) .annotate {
  cursor: help;
}

.annotate:after {
  content: "["attr(data-index)"]";
  padding: 2px;
  font-size: .5em;
  background: var(--code-anatomy--code-bg, #2b2b2b);
  border: 1px solid var(--code-anatomy--code-bg, #2b2b2b);
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-.5em, 50%);
  transition: .218s ease;
  z-index: 1;
  border-radius: 0.3em;
}

#area:hover .annotate:after {
  opacity: .1;
}

.annotate[aria-current]:after {
  transform: translate(-.5em, 50%) scale(1.2);
  border: 1px solid currentColor;
}

#textarea {
  font: inherit;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  padding: inherit;
  border: 0;
  resize: none;
  color: transparent;
  background-color: transparent;
  white-space: inherit;
  box-sizing: border-box;
  z-index: -1;
}

#textarea:focus {
  outline: none;
}

#list {
  margin: 0;
  padding: .5em 2em;
}

#list:empty {
  display: none;
}

#list li {
  cursor: pointer;
  text-align: start;
}

#list li[contentEditable] {
  cursor: text;
}

#list li:not(:last-child) {
  margin-bottom: .5em;
}

#list a {
  color: var(--code-anatomy--link-fg, currentColor);
}

#component {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
